// fuentes

$fuentePrincipal : Arial, Helvetica, sans-serif;

//Media queries

$telefono : 480px;
$tablet : 768px;
$desktop : 1200px;

//Colores
$primario : #d00000;
$secundario :#e85d04;
$grisSuave : #ced4da;
$grisFuerte : #343a40;
$grisMedio : #6c757d;
$negro :#000000;
$blanco: #ffffff;
$radius: 7px;
