@import "variables";
@import "mixins";

html{
    @include box-sizing(border-box);
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

body{
    background-color: $negro;
    font-family: $fuentePrincipal;
    color: $negro;

    @include tablet{
        background-color: unset;
        background-image: url(/img/years-for-movies.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
}

a{
    color: $grisFuerte;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.contenedor{
    width: 90%;
    margin:  0 auto;
}

.logo{
    margin-top: .5rem;
    max-width: 100px;
    @include tablet{
        margin-top: .8rem;
        margin-left: 2%;
    }
}

.formulario-login{

    @include tablet{
        background-color: rgba(0,0,0, 0.7);
        max-width: 450px;
        padding: 2rem 4rem;
        margin: 3rem auto 4rem auto;
    }
}

form{ 
    legend{
        color: $blanco;
        font-size: 2rem;
        margin: 2rem 0;
        font-weight: bold;
    }
    .campo{
        display: flex;
        position: relative;
        margin-bottom: .8rem;
        label{
            position: absolute;
            top: 1.1rem;
            left: 1rem;
            font-size: .9rem;
            transition: font-size .2s ease, top .2s ease;
        }
        input{
            flex: 1;
            padding: 1.2rem 1rem .7rem 1rem;
            border: none;
            background-color: $grisMedio;
            border-radius: $radius;
            &:focus{
                background-color: $grisSuave;
                outline: none;

                + label{
                    font-size: .7rem;
                    top: .5rem;
                }
            }
        }
    }
    .submit{
        display: flex;
        margin-top: 2rem;
        input[type="submit"]{
            @include boton($primario);
            &:hover{
                cursor: pointer;
            }
        }
    }
    .acciones{
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        margin: .5rem 0 8rem 0 ;
        label, a {
            font-size: .8rem;
            text-decoration: none;
        }
    }
}

.contenido-inferior{
    padding-bottom: 2rem;
    @include tablet{
        padding-bottom: 1rem;
    }
    a {
        font-size: .8rem;
    }
    .nuevo-usuario{
        font-size: 1rem;
        margin-top: 1rem;
        display: flex;
        a{
            font-size: 1rem;
            color: $blanco;
            margin-left: .5rem;
        }
    }
}

.footer{
    border-top: 1px solid $grisSuave;
    padding: 2rem 0 4rem 0;
    @include tablet{
        border-top: unset;
        background-color: rgba(0,0,0, 0.7);
        padding: 1rem 0 3rem 0;
    }
    .contenedor {
        @include tablet{
            margin: 0 auto;
            max-width: 50%;
        }
    }
    .menu-footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include tablet{
            max-width: 70%;
        }
        a{
            flex: 0 0  auto;
            font-size: .8rem;
            margin-right: 2rem;
            padding: .5rem 0;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
    select{
        appearance:  none;
        background-color: $negro;
        border-radius: $radius;
        border: 1px solid $grisFuerte;
        color: $grisSuave;
        margin-top: 2rem;
        padding: 1rem 3 rem;
    }
}

